libro-parent/libro-soap-client/src/main/resources/wsdl/LibroService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LibroSoapServiceService" targetNamespace="http://jpexposito.ejemplos.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jpexposito.ejemplos.es/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://jpexposito.ejemplos.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://jpexposito.ejemplos.es/" version="1.0">

  <xs:element name="add" type="tns:add"/>

  <xs:element name="addResponse" type="tns:addResponse"/>

  <xs:element name="get" type="tns:get"/>

  <xs:element name="getResponse" type="tns:getResponse"/>

  <xs:element name="list" type="tns:list"/>

  <xs:element name="listResponse" type="tns:listResponse"/>

  <xs:element name="remove" type="tns:remove"/>

  <xs:element name="removeResponse" type="tns:removeResponse"/>

  <xs:element name="update" type="tns:update"/>

  <xs:element name="updateResponse" type="tns:updateResponse"/>

  <xs:complexType name="add">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:libro"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="libro">
    <xs:sequence>
      <xs:element name="ejemplares" type="xs:int"/>
      <xs:element minOccurs="0" name="isbn" type="xs:string"/>
      <xs:element minOccurs="0" name="titulo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:libro"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="list">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:libro"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="remove">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="get">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:libro"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="removeResponse">
    <wsdl:part name="parameters" element="tns:removeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="list">
    <wsdl:part name="parameters" element="tns:list">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="remove">
    <wsdl:part name="parameters" element="tns:remove">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listResponse">
    <wsdl:part name="parameters" element="tns:listResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part name="parameters" element="tns:add">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="tns:addResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="tns:getResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get">
    <wsdl:part name="parameters" element="tns:get">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LibroSoapService">
    <wsdl:operation name="add">
      <wsdl:input name="add" message="tns:add">
    </wsdl:input>
      <wsdl:output name="addResponse" message="tns:addResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update">
    </wsdl:input>
      <wsdl:output name="updateResponse" message="tns:updateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input name="list" message="tns:list">
    </wsdl:input>
      <wsdl:output name="listResponse" message="tns:listResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <wsdl:input name="remove" message="tns:remove">
    </wsdl:input>
      <wsdl:output name="removeResponse" message="tns:removeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input name="get" message="tns:get">
    </wsdl:input>
      <wsdl:output name="getResponse" message="tns:getResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibroSoapServiceServiceSoapBinding" type="tns:LibroSoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="list">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="remove">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="remove">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibroSoapServiceService">
    <wsdl:port name="LibroSoapServicePort" binding="tns:LibroSoapServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/LibroSoapServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
